{% extends 'base_generic.html' %}

{% block title %}<title>Sobre Nós</title>{% endblock title %}

{% block content %}

<div class="container my-3">
    <h1 class="font-weight-bold">Sobre nós</h1>
    <p>
        Este site é fruto de um projeto criado por alunos dos cursos de Engenharia da Computação e Ciência de Dados da Universidade Virtual do Estado de São Paulo (Univesp).
		O Projeto Integrador, como o próprio nome sugere, visa integrar a Teoria com a Prática de forma que possamos exercitar os conhecimentos
		adquiridos durante o curso nas mais diversas disciplinas. Através da metodologia do Design Thinking, o objetivo é desenvolver soluções que tenham
		relação com necessidades reais em vez meros exercícios abstratos. Diante da piora do contexto econômico devido a pandemia do Covid-19,
		identificamos que muitas pessoas alegavam ter sofrido diminuição de renda e que houve aumento generalizado de preços, ocasionando perda do poder de compra.
		Devido a essa necessidade, criamos este site para que as pessoas possam economizar encontrando produtos em oferta na sua região.
    </p>
    <p>
        Fabio Martins dos Santos<br>
		Felipe Rafael da Silva Oliveira<br>
		Gabriel da Silva Gomes<br>
		Gabriel Nascimento Silva<br>
		Geovanni Evangelista dos Santos<br>
		Maria Elizangela Linhares<br>
		Marcos Pereira da Silva Cruz
    </p>
	<p>
	Contato: proj.int.navegantes@gmail.com
	</p>
</div>
{% endblock content %}

