{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista de Ofertas no estabelecimento {{ super.nome }}</h1>
	{% if super.site %}
	<p><a href="{{super.site}}">Acesse o site deste estabelecimento (link externo)</a></p>
	{% endif %}

  {% if ofertasporsuper %}
  <div class="table-responsive">
  <table id="tabela" class="table table-hover"><thead>
	   <tr>
			<th><input type="text" id="txtColuna1" value="" placeholder="Filtre por produto aqui"/></th>
			<th></th>
			<th></th>
			<th></th>
	  </tr>  
      <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Período*</th>
		<th>Obs</th>
	  </tr>
    </thead>
	<tbody>
	{% for ofertaporsuper in ofertasporsuper %}
      <tr>
    <td>{{ ofertaporsuper.pd }}</td>
		<td><strong>R${{ ofertaporsuper.preco }}</strong></td>
		<td>de {{ ofertaporsuper.inicio }} à {{ ofertaporsuper.fim }}</td>
		{% if ofertaporsuper.obs %}
		<td>{{ ofertaporsuper.obs }}</td>
		{% else %}
		<td></td>
		{% endif %}
		
      </tr>
    {% endfor %}
	</tbody>
	</table>
	</div>
	  <p>*Ou enquanto durarem os estoques</p>
  {% else %}
    <p>Não há ofertas cadastradas para esse estabelecimento.</p>
  {% endif %} 

  <hr>
  
  <h2>Lista de lojas do estabelecimento {{ super.nome }}</h2>
  {% if lojas %}
  <div class="table-responsive">
  <table id="tabela" class="table table-hover"><thead>
        <tr>
        <th>Nome</th>
        <th>Logradouro</th>
        <th>Num</th>
		<th>Bairro</th>
		<th>Cidade</th>
		<th>Estado</th>
		<th>CEP</th>
    <th>Localização</th>
	  </tr>
    </thead>
	<tbody>
	{% for loja in lojas %}
      <tr>
    <td>{{ loja.nome }}</td>
		<td>{{ loja.lograd }}</td>
		<td>{{ loja.num }}</td>
		<td>{{ loja.bairro }}</td>
		<td>{{ loja.cidade }}</td>
		<td>{{ loja.estado }}</td>
		<td>{{ loja.cep }}</td>
    <td><button onclick="Solicitar_Endereço(this.id)" id="{{ loja.nome }}, {{ loja.lograd }}, {{ loja.num }}, {{ loja.bairro }}, {{ loja.cidade }}, {{ loja.estado }}, {{ loja.cep }}" class="btn btn-primary">Localizar loja "{{ loja.nome }}" no mapa</button></td>
    <script>var endereço = "{{ loja.nome }},{{ loja.lograd }},{{ loja.num }},{{ loja.bairro }},{{ loja.cidade }},{{ loja.estado }},{{ loja.cep }};"
    </script>
      </tr>
      
    {% endfor %}
	</tbody>
	</table>
  
	</div>
  <div id="map"></div>
  
  {% else %}
    <p>Não há lojas cadastradas para esse estabelecimento.</p>
  {% endif %}  

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style>#map {
      height: 20%;
      height: 500px;
    }
    
    html,
    body {
      height: 100%;
}
    
    #instructions {
      background-color: #fff;
      border: 50;
      border-radius: 2px;
      box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
      margin: 10px;
      padding: 0 0.5em;
      font: 400 18px Roboto, Arial, sans-serif;
      overflow: hidden;
      padding: 1rem;
      font-size: medium;
    }</style>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script>let map;
      let marker;
      let geocoder;
      let responseDiv;
      let response;
      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 15,
          center: { lat: -34.397, lng: 150.644 },
          mapTypeControl: false,
        });
        geocoder = new google.maps.Geocoder();
      
        const inputText = document.createElement("input");
      
        inputText.type = "text";
        inputText.placeholder = "Enter a location";
      
        const submitButton = document.createElement("input");
      
        submitButton.type = "button";
        submitButton.value = "Geocode";
        submitButton.classList.add("button", "button-primary");
      
        const clearButton = document.createElement("input");
      
        clearButton.type = "button";
        clearButton.value = "Clear";
        clearButton.classList.add("button", "button-secondary");
        response = document.createElement("pre");
        response.id = "response";
        response.innerText = "";
        responseDiv = document.createElement("div");
        responseDiv.id = "response-container";
        responseDiv.appendChild(response);
      
        const instructionsElement = document.createElement("p");
      
        //Debug desativado, retire os "//" para ativar o debug.
        //instructionsElement.id = "instructions";
        //instructionsElement.innerHTML =
        //  "<strong>Instructions</strong>: Enter an address in the textbox to geocode or click on the map to reverse geocode.";
        //map.controls[google.maps.ControlPosition.TOP_LEFT].push(inputText);
        //map.controls[google.maps.ControlPosition.TOP_LEFT].push(submitButton);
        // map.controls[google.maps.ControlPosition.TOP_LEFT].push(clearButton);
        //map.controls[google.maps.ControlPosition.LEFT_TOP].push(instructionsElement);
        //map.controls[google.maps.ControlPosition.LEFT_TOP].push(responseDiv);
        marker = new google.maps.Marker({
          map,
        });
        //map.addListener("click", (e) => {
        //  geocode({ location: e.latLng });
        //});
        submitButton.addEventListener("click", () =>
          geocode({ address: inputText.value })
        );
        clearButton.addEventListener("click", () => {
          clear();
        });
        clear();
        Endereço_inicial_normal();
      }
      
      function clear() {
        marker.setMap(null);
        responseDiv.style.display = "none";
      }

      function Solicitar_Endereço(id_endereço) {
        //alert(id_endereço);
        geocode({ address: id_endereço });
        //Debug desativado, retire os "//" para ativar o debug.
      }

      function Endereço_inicial_normal() {
        geocode({ address: endereço });
      }
      
      function geocode(request) {
        clear();
        geocoder
          .geocode(request)
          .then((result) => {
            const { results } = result;
      
            map.setCenter(results[0].geometry.location);
            marker.setPosition(results[0].geometry.location);
            marker.setMap(map);
            responseDiv.style.display = "block";
            response.innerText = JSON.stringify(result, null, 2);
            return results;
          })
          .catch((e) => {
            alert("Geocode was not successful for the following reason: " + e);
          });
      }
      
      window.initMap = initMap;</script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
      defer
    ></script>
{% endblock %}