{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista de Estabelecimentos com oferta do produto {{ produto }}</h1>
  <br>
  {% if locais %}
  <div class="table-responsive">
  <table class="table table-hover"><thead>
      <tr>
        <th>Supermercado</th>
		<th>Preço</th>
		<th>Período*</th>
		<th>Observação</th>
      </tr>
    </thead>
	<tbody>
	{% for local in locais %}
		<tr>
			<td>
				<a href="{% url 'ofertasporsuper' local.sm.id %}">{{ local.sm }}</a>
			</td>
			<td>
				<strong>{{ local.preco }}</strong>
			</td>
			<td>de {{ local.inicio }} à {{ local.fim }}</td>
			{% if local.obs %}
			<td>{{ local.obs }}</td>
			{% else %}
			<td></td>
			{% endif %}
		</tr>
    {% endfor %}
	</tbody>
	</table>
	</div>
	<hr>
	  <p>*Ou enquanto durarem os estoques</p>
  {% else %}
    <p>Não há locais onde este produto esteja em oferta no momento.</p>
  {% endif %} 
{% endblock %}
