h1 {
	font-size: 40px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-y: overlay !important;
    overflow-x: auto;
    overflow-wrap: break-word;
}

.active {
    background-color: #266fa0 !important;
    border-color: #266fa0 !important;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}


.footer-default {
    background-image: "https://pbs.twimg.com/profile_banners/47634159/1624280262/600x200";
}