{% extends "base_generic.html" %}

{% block content %}
  <h2>Lista de Ofertas</h2>
  <br>
  {% if em_oferta_list %}
  <div class="table-responsive">
  <table id="tabela" class="table table-hover"><thead>
	   <tr>
			<th><input type="text" id="txtColuna1" value="" placeholder="Filtre por produto aqui"/></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
	  </tr>
      <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Período*</th>
		<th>Estabelecimento</th>
		<th>Obs</th>
      </tr>
    </thead>
	<tbody>
	{% for em_oferta in em_oferta_list %}
      <tr>
        <td>{{ em_oferta.pd }}</td>
		<td><strong>R${{ em_oferta.preco }}</strong></td>
		<td>de {{ em_oferta.inicio }} à {{ em_oferta.fim }}</td>
		<td>{{ em_oferta.sm }}</td>
			{% if em_oferta.obs %}
			<td>{{ em_oferta.obs }}</td>
			{% else %}
			<td></td>
			{% endif %}
      </tr>
    {% endfor %}
	</tbody>
	</table>
	</div>
	<hr>
	  <p>*Ou enquanto durarem os estoques</p>
  {% else %}
    <p>Não há ofertas cadastradas.</p>
  {% endif %}
  <hr>

{% endblock %}
