{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista de Produtos</h1>
  {% if produto_list %}
  <ul>
    {% for produto in produto_list %}
      <li>
        <a href="{% url 'ondeencontrar' produto.id %}">{{ produto.desc }} {{ produto.marca }} {{ produto.qtd }} {{ produto.unid }} {{ produto.desc }} {{ produto.obs }}
			<p><img src="..{{ produto.imagem.url}}"
		style="height:130px; width:auto"</img></p></a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>Não há produtos cadastrados.</p>
  {% endif %} 
{% endblock %}
